body {
	background-color: #b0c4de;
	color: #000000;
	font-family: sans-serif;
	font-size: 15px;
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 10px;
}

h1 {
	font-size: 18px;
	margin-top: 50px;
}

h2 {
	font-size: 15px;
	margin-top: 30px;
	margin-left: 15px;
}

p {
	font-size: 15px;
	margin-left: 30px;
}
.start {
	background-color: orange;	
	padding: 5px;
	border-color: black;
	border-style: solid;
	border-width: 0px;
	border-radius: 5px;
}
ul {list-style-type:circle;}

li {
	font-size: 12px;
	margin-left: 5px;
}
a:link {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

a:visited {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

a:hover {
	text-decoration: underline;
	font-weight: bold;
	color: black;
}

a:active {
	text-decoration: underline;
	font-weight: bold;
	color: black;
}
