body {
  background-color: #eafaff;
  font-family: monospace;
}
p {
    margin-top: 0px;
    margin-bottom: 3px;
    margin-right: 0px;
    margin-left: 0px;  
    padding: 0px;
}
.heading {
    margin-top: 20px;
    margin-bottom: 3px;
    margin-right: 0px;
    margin-left: 0px;  
    padding: 0px;
}
a {
}
table {
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
}
tr {
}
td {
  padding: 5px;
}
.txt {
  margin-left: 6px;
  margin-bottom: 30px;
  margin-top: 60px;
}
