
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gaia visual</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="gaia.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
</head>
<body>
<div id="app">
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="title">
                    gaia visual
                </p>
                <p class="subtitle">
                    see what our galaxy looks like
                </p>
            </div>
        </div>
    </section>
    <div class="container">
        <b-table :data="images" :show-header="false"  :mobile-cards="false">
            <b-table-column field="image_name" label="Image" sortable v-slot="props">
                <b-carousel :autoplay="false"  :indicator="false" :has-drag="hasDrag" :arrow-hover="arrowHover">
                    <b-carousel-item @click.native="carousel_clicked(carousel, $event)" v-for="(carousel, i) in props.row.carousels" :key="i">
                        <b-image v-if="carousel.entry_type === 'IMAGE'" :src="carousel.image_name" :alt="carousel.entry_type" ratio="16by9"></b-image>
                    </b-carousel-item>
                </b-carousel>
            </b-table-column>
        </b-table>
    </div>
</div>


<script src="vue-min.js"></script>
<script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
<script src="gaia.js"></script>
<script>
    let app = new Vue({
        data() {
            return {
                arrowHover: isMobile(),
                hasDrag: isMobile(),
                images: [

{
     carousels: [
{
  entry_type: 'IMAGE',
  image_name: 'images/desc-gcs2.png',
  image_name_full: null
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/video-gcs2-0.png',
  image_name_full: 'http://www.youtube.com/embed/Xmheem6PED0'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/x3d-gcs2.png',
  image_name_full: 'models/gcs2.x3d'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcs2-a-2-prev-0001.png',
  image_name_full: 'images/gcs2-a-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcs2-a-3-prev-0001.png',
  image_name_full: 'images/gcs2-a-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcs2-b-0-prev-0001.png',
  image_name_full: 'images/gcs2-b-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcs2-a-0-prev-0001.png',
  image_name_full: 'images/gcs2-a-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcs2-b-3-prev-0001.png',
  image_name_full: 'images/gcs2-b-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcs2-b-1-prev-0001.png',
  image_name_full: 'images/gcs2-b-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcs2-a-1-prev-0001.png',
  image_name_full: 'images/gcs2-a-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcs2-b-2-prev-0001.png',
  image_name_full: 'images/gcs2-b-2-prev-0001.png'
}

     ]
}
,

{
     carousels: [
{
  entry_type: 'IMAGE',
  image_name: 'images/desc-gcs1.png',
  image_name_full: null
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/video-gcs1-0.png',
  image_name_full: 'http://www.youtube.com/embed/Xmheem6PED0'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/x3d-gcs1.png',
  image_name_full: 'models/gcs1.x3d'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcs1-a-2-prev-0001.png',
  image_name_full: 'images/gcs1-a-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcs1-b-2-prev-0001.png',
  image_name_full: 'images/gcs1-b-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcs1-a-0-prev-0001.png',
  image_name_full: 'images/gcs1-a-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcs1-b-3-prev-0001.png',
  image_name_full: 'images/gcs1-b-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcs1-a-3-prev-0001.png',
  image_name_full: 'images/gcs1-a-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcs1-a-1-prev-0001.png',
  image_name_full: 'images/gcs1-a-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcs1-c-1-prev-0001.png',
  image_name_full: 'images/gcs1-c-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcs1-b-0-prev-0001.png',
  image_name_full: 'images/gcs1-b-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcs1-c-0-prev-0001.png',
  image_name_full: 'images/gcs1-c-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcs1-c-2-prev-0001.png',
  image_name_full: 'images/gcs1-c-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcs1-b-1-prev-0001.png',
  image_name_full: 'images/gcs1-b-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcs1-c-3-prev-0001.png',
  image_name_full: 'images/gcs1-c-3-prev-0001.png'
}

     ]
}
,

{
     carousels: [
{
  entry_type: 'IMAGE',
  image_name: 'images/desc-gcd5.png',
  image_name_full: null
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/video-gcd5-0.png',
  image_name_full: 'http://www.youtube.com/embed/Ktimgtm991A'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/x3d-gcd5.png',
  image_name_full: 'models/gcd5.x3d'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd5-a-0-prev-0001.png',
  image_name_full: 'images/gcd5-a-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd5-a-1-prev-0001.png',
  image_name_full: 'images/gcd5-a-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd5-b-1-prev-0001.png',
  image_name_full: 'images/gcd5-b-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd5-b-0-prev-0001.png',
  image_name_full: 'images/gcd5-b-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd5-a-2-prev-0001.png',
  image_name_full: 'images/gcd5-a-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd5-a-3-prev-0001.png',
  image_name_full: 'images/gcd5-a-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd5-b-3-prev-0001.png',
  image_name_full: 'images/gcd5-b-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd5-b-2-prev-0001.png',
  image_name_full: 'images/gcd5-b-2-prev-0001.png'
}

     ]
}
,

{
     carousels: [
{
  entry_type: 'IMAGE',
  image_name: 'images/desc-gcd4.png',
  image_name_full: null
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/video-gcd4-0.png',
  image_name_full: 'http://www.youtube.com/embed/jXdOY-bJ5Ns'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/x3d-gcd4.png',
  image_name_full: 'models/gcd4.x3d'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd4-a-1-prev-0001.png',
  image_name_full: 'images/gcd4-a-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd4-c-0-prev-0001.png',
  image_name_full: 'images/gcd4-c-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd4-c-3-prev-0001.png',
  image_name_full: 'images/gcd4-c-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd4-b-0-prev-0001.png',
  image_name_full: 'images/gcd4-b-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd4-a-0-prev-0001.png',
  image_name_full: 'images/gcd4-a-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd4-a-3-prev-0001.png',
  image_name_full: 'images/gcd4-a-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd4-a-2-prev-0001.png',
  image_name_full: 'images/gcd4-a-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd4-c-2-prev-0001.png',
  image_name_full: 'images/gcd4-c-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd4-c-1-prev-0001.png',
  image_name_full: 'images/gcd4-c-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd4-b-2-prev-0001.png',
  image_name_full: 'images/gcd4-b-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd4-b-3-prev-0001.png',
  image_name_full: 'images/gcd4-b-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd4-b-1-prev-0001.png',
  image_name_full: 'images/gcd4-b-1-prev-0001.png'
}

     ]
}
,

{
     carousels: [
{
  entry_type: 'IMAGE',
  image_name: 'images/desc-gc3.png',
  image_name_full: null
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/video-gc3-0.png',
  image_name_full: 'http://www.youtube.com/embed/AE6muFf1nvA'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/x3d-gc3.png',
  image_name_full: 'models/gc3.x3d'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gc3-a-2-prev-0001.png',
  image_name_full: 'images/gc3-a-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gc3-a-1-prev-0001.png',
  image_name_full: 'images/gc3-a-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gc3-b-3-prev-0001.png',
  image_name_full: 'images/gc3-b-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gc3-b-2-prev-0001.png',
  image_name_full: 'images/gc3-b-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gc3-a-0-prev-0001.png',
  image_name_full: 'images/gc3-a-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gc3-b-1-prev-0001.png',
  image_name_full: 'images/gc3-b-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gc3-b-0-prev-0001.png',
  image_name_full: 'images/gc3-b-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gc3-a-3-prev-0001.png',
  image_name_full: 'images/gc3-a-3-prev-0001.png'
}

     ]
}
,

{
     carousels: [
{
  entry_type: 'IMAGE',
  image_name: 'images/desc-gcd2.png',
  image_name_full: null
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/video-gcd2-0.png',
  image_name_full: 'http://www.youtube.com/embed/m6VKmQIKj04'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/x3d-gcd2.png',
  image_name_full: 'models/gcd2.x3d'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd2-far-3-prev-0001.png',
  image_name_full: 'images/gcd2-far-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd2-top-2-prev-0001.png',
  image_name_full: 'images/gcd2-top-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd2-equator-1-prev-0001.png',
  image_name_full: 'images/gcd2-equator-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd2-top-3-prev-0001.png',
  image_name_full: 'images/gcd2-top-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd2-far-0-prev-0001.png',
  image_name_full: 'images/gcd2-far-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd2-far-1-prev-0001.png',
  image_name_full: 'images/gcd2-far-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd2-top-1-prev-0001.png',
  image_name_full: 'images/gcd2-top-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd2-equator-2-prev-0001.png',
  image_name_full: 'images/gcd2-equator-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd2-far-2-prev-0001.png',
  image_name_full: 'images/gcd2-far-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd2-top-0-prev-0001.png',
  image_name_full: 'images/gcd2-top-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd2-equator-0-prev-0001.png',
  image_name_full: 'images/gcd2-equator-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd2-equator-3-prev-0001.png',
  image_name_full: 'images/gcd2-equator-3-prev-0001.png'
}

     ]
}
,

{
     carousels: [
{
  entry_type: 'IMAGE',
  image_name: 'images/desc-gcd1.png',
  image_name_full: null
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/video-gcd1-0.png',
  image_name_full: 'http://www.youtube.com/embed/ZP0GFgninZc'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/x3d-gcd1.png',
  image_name_full: 'models/gcd1.x3d'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd1-near-0-prev-0001.png',
  image_name_full: 'images/gcd1-near-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd1-far-1-prev-0001.png',
  image_name_full: 'images/gcd1-far-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd1-near-3-prev-0001.png',
  image_name_full: 'images/gcd1-near-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd1-far-3-prev-0001.png',
  image_name_full: 'images/gcd1-far-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd1-far-0-prev-0001.png',
  image_name_full: 'images/gcd1-far-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd1-far-2-prev-0001.png',
  image_name_full: 'images/gcd1-far-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd1-near-1-prev-0001.png',
  image_name_full: 'images/gcd1-near-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gcd1-near-2-prev-0001.png',
  image_name_full: 'images/gcd1-near-2-prev-0001.png'
}

     ]
}
,

{
     carousels: [
{
  entry_type: 'IMAGE',
  image_name: 'images/desc-gc1.png',
  image_name_full: null
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/video-gc1-0.png',
  image_name_full: 'http://www.youtube.com/embed/6ORL4caNz9g'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/x3d-gc1.png',
  image_name_full: 'models/gc1.x3d'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gc1-far-2-prev-0001.png',
  image_name_full: 'images/gc1-far-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gc1-far-1-prev-0001.png',
  image_name_full: 'images/gc1-far-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gc1-near-0-prev-0001.png',
  image_name_full: 'images/gc1-near-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gc1-far-0-prev-0001.png',
  image_name_full: 'images/gc1-far-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gc1-far-3-prev-0001.png',
  image_name_full: 'images/gc1-far-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gc1-near-2-prev-0001.png',
  image_name_full: 'images/gc1-near-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gc1-near-3-prev-0001.png',
  image_name_full: 'images/gc1-near-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/gc1-near-1-prev-0001.png',
  image_name_full: 'images/gc1-near-1-prev-0001.png'
}

     ]
}
,

{
     carousels: [
{
  entry_type: 'IMAGE',
  image_name: 'images/desc-dens1.png',
  image_name_full: null
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/video-dens1-0.png',
  image_name_full: 'http://www.youtube.com/embed/FMIKp63XT1U'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/video-dens1-1.png',
  image_name_full: 'http://www.youtube.com/embed/SjuCFmUmQQk'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/x3d-dens1.png',
  image_name_full: 'models/dens1.x3d'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/dens1-b-0-prev-0001.png',
  image_name_full: 'images/dens1-b-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/dens1-c-0-prev-0001.png',
  image_name_full: 'images/dens1-c-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/dens1-c-1-prev-0001.png',
  image_name_full: 'images/dens1-c-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/dens1-a-1-prev-0001.png',
  image_name_full: 'images/dens1-a-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/dens1-a-2-prev-0001.png',
  image_name_full: 'images/dens1-a-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/dens1-b-1-prev-0001.png',
  image_name_full: 'images/dens1-b-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/dens1-a-3-prev-0001.png',
  image_name_full: 'images/dens1-a-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/dens1-b-3-prev-0001.png',
  image_name_full: 'images/dens1-b-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/dens1-b-2-prev-0001.png',
  image_name_full: 'images/dens1-b-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/dens1-c-3-prev-0001.png',
  image_name_full: 'images/dens1-c-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/dens1-c-2-prev-0001.png',
  image_name_full: 'images/dens1-c-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/dens1-a-0-prev-0001.png',
  image_name_full: 'images/dens1-a-0-prev-0001.png'
}

     ]
}
,

{
     carousels: [
{
  entry_type: 'IMAGE',
  image_name: 'images/desc-sund6.png',
  image_name_full: null
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/video-sund6-0.png',
  image_name_full: 'http://www.youtube.com/embed/CxndKkrbk-4'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/x3d-sund6.png',
  image_name_full: 'models/sund6.x3d'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund6-c-1-prev-0001.png',
  image_name_full: 'images/sund6-c-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund6-a-3-prev-0001.png',
  image_name_full: 'images/sund6-a-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund6-c-2-prev-0001.png',
  image_name_full: 'images/sund6-c-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund6-c-3-prev-0001.png',
  image_name_full: 'images/sund6-c-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund6-b-1-prev-0001.png',
  image_name_full: 'images/sund6-b-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund6-b-3-prev-0001.png',
  image_name_full: 'images/sund6-b-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund6-a-2-prev-0001.png',
  image_name_full: 'images/sund6-a-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund6-a-0-prev-0001.png',
  image_name_full: 'images/sund6-a-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund6-b-0-prev-0001.png',
  image_name_full: 'images/sund6-b-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund6-c-0-prev-0001.png',
  image_name_full: 'images/sund6-c-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund6-a-1-prev-0001.png',
  image_name_full: 'images/sund6-a-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund6-b-2-prev-0001.png',
  image_name_full: 'images/sund6-b-2-prev-0001.png'
}

     ]
}
,

{
     carousels: [
{
  entry_type: 'IMAGE',
  image_name: 'images/desc-sund27.png',
  image_name_full: null
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/video-sund27-0.png',
  image_name_full: 'http://www.youtube.com/embed/JuK80k5m4vU'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/x3d-sund27.png',
  image_name_full: 'models/sund27.x3d'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund27-a-0-prev-0001.png',
  image_name_full: 'images/sund27-a-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund27-a-1-prev-0001.png',
  image_name_full: 'images/sund27-a-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund27-a-3-prev-0001.png',
  image_name_full: 'images/sund27-a-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund27-a-2-prev-0001.png',
  image_name_full: 'images/sund27-a-2-prev-0001.png'
}

     ]
}
,

{
     carousels: [
{
  entry_type: 'IMAGE',
  image_name: 'images/desc-sund5.png',
  image_name_full: null
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/video-sund5-0.png',
  image_name_full: 'http://www.youtube.com/embed/NWRHYBLjFv0'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/x3d-sund5.png',
  image_name_full: 'models/sund5.x3d'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund5-c-1-prev-0001.png',
  image_name_full: 'images/sund5-c-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund5-c-3-prev-0001.png',
  image_name_full: 'images/sund5-c-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund5-a-2-prev-0001.png',
  image_name_full: 'images/sund5-a-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund5-b-3-prev-0001.png',
  image_name_full: 'images/sund5-b-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund5-b-1-prev-0001.png',
  image_name_full: 'images/sund5-b-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund5-a-1-prev-0001.png',
  image_name_full: 'images/sund5-a-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund5-a-0-prev-0001.png',
  image_name_full: 'images/sund5-a-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund5-c-2-prev-0001.png',
  image_name_full: 'images/sund5-c-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund5-a-3-prev-0001.png',
  image_name_full: 'images/sund5-a-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund5-b-0-prev-0001.png',
  image_name_full: 'images/sund5-b-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund5-c-0-prev-0001.png',
  image_name_full: 'images/sund5-c-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund5-b-2-prev-0001.png',
  image_name_full: 'images/sund5-b-2-prev-0001.png'
}

     ]
}
,

{
     carousels: [
{
  entry_type: 'IMAGE',
  image_name: 'images/desc-sund4.png',
  image_name_full: null
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/video-sund4-0.png',
  image_name_full: 'http://www.youtube.com/embed/bZ0KkVM-Kwc'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/x3d-sund4.png',
  image_name_full: 'models/sund4.x3d'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund4-b-3-prev-0001.png',
  image_name_full: 'images/sund4-b-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund4-a-3-prev-0001.png',
  image_name_full: 'images/sund4-a-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund4-c-1-prev-0001.png',
  image_name_full: 'images/sund4-c-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund4-c-2-prev-0001.png',
  image_name_full: 'images/sund4-c-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund4-a-0-prev-0001.png',
  image_name_full: 'images/sund4-a-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund4-b-1-prev-0001.png',
  image_name_full: 'images/sund4-b-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund4-c-0-prev-0001.png',
  image_name_full: 'images/sund4-c-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund4-a-2-prev-0001.png',
  image_name_full: 'images/sund4-a-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund4-b-0-prev-0001.png',
  image_name_full: 'images/sund4-b-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund4-c-3-prev-0001.png',
  image_name_full: 'images/sund4-c-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund4-a-1-prev-0001.png',
  image_name_full: 'images/sund4-a-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund4-b-2-prev-0001.png',
  image_name_full: 'images/sund4-b-2-prev-0001.png'
}

     ]
}
,

{
     carousels: [
{
  entry_type: 'IMAGE',
  image_name: 'images/desc-sund3.png',
  image_name_full: null
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/video-sund3-0.png',
  image_name_full: 'http://www.youtube.com/embed/hUqVxwHVTZg'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/x3d-sund3.png',
  image_name_full: 'models/sund3.x3d'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund3-b-3-prev-0001.png',
  image_name_full: 'images/sund3-b-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund3-a-1-prev-0001.png',
  image_name_full: 'images/sund3-a-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund3-a-0-prev-0001.png',
  image_name_full: 'images/sund3-a-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund3-b-2-prev-0001.png',
  image_name_full: 'images/sund3-b-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund3-a-3-prev-0001.png',
  image_name_full: 'images/sund3-a-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund3-c-0-prev-0001.png',
  image_name_full: 'images/sund3-c-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund3-c-2-prev-0001.png',
  image_name_full: 'images/sund3-c-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund3-a-2-prev-0001.png',
  image_name_full: 'images/sund3-a-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund3-b-1-prev-0001.png',
  image_name_full: 'images/sund3-b-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund3-c-1-prev-0001.png',
  image_name_full: 'images/sund3-c-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund3-c-3-prev-0001.png',
  image_name_full: 'images/sund3-c-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund3-b-0-prev-0001.png',
  image_name_full: 'images/sund3-b-0-prev-0001.png'
}

     ]
}
,

{
     carousels: [
{
  entry_type: 'IMAGE',
  image_name: 'images/desc-sund1.png',
  image_name_full: null
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/video-sund1-0.png',
  image_name_full: 'http://www.youtube.com/embed/AZaBZWo0uwQ'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/x3d-sund1.png',
  image_name_full: 'models/sund1.x3d'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund1-far-2-prev-0001.png',
  image_name_full: 'images/sund1-far-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund1-near-0-prev-0001.png',
  image_name_full: 'images/sund1-near-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund1-far-3-prev-0001.png',
  image_name_full: 'images/sund1-far-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund1-near-1-prev-0001.png',
  image_name_full: 'images/sund1-near-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund1-far-1-prev-0001.png',
  image_name_full: 'images/sund1-far-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund1-near-3-prev-0001.png',
  image_name_full: 'images/sund1-near-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund1-near-2-prev-0001.png',
  image_name_full: 'images/sund1-near-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund1-far-0-prev-0001.png',
  image_name_full: 'images/sund1-far-0-prev-0001.png'
}

     ]
}
,

{
     carousels: [
{
  entry_type: 'IMAGE',
  image_name: 'images/desc-sund2.png',
  image_name_full: null
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/video-sund2-0.png',
  image_name_full: 'http://www.youtube.com/embed/Fee7OpM1Kno'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/x3d-sund2.png',
  image_name_full: 'models/sund2.x3d'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund2-a-0-prev-0001.png',
  image_name_full: 'images/sund2-a-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund2-b-0-prev-0001.png',
  image_name_full: 'images/sund2-b-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund2-a-2-prev-0001.png',
  image_name_full: 'images/sund2-a-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund2-b-1-prev-0001.png',
  image_name_full: 'images/sund2-b-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund2-a-1-prev-0001.png',
  image_name_full: 'images/sund2-a-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund2-a-3-prev-0001.png',
  image_name_full: 'images/sund2-a-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund2-b-2-prev-0001.png',
  image_name_full: 'images/sund2-b-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sund2-b-3-prev-0001.png',
  image_name_full: 'images/sund2-b-3-prev-0001.png'
}

     ]
}
,

{
     carousels: [
{
  entry_type: 'IMAGE',
  image_name: 'images/desc-sunms1.png',
  image_name_full: null
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/video-sunms1-0.png',
  image_name_full: 'http://www.youtube.com/embed/irbUh9Y_Ifg'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/x3d-sunms1.png',
  image_name_full: 'models/sunms1.x3d'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunms1-simple-0-prev-0001.png',
  image_name_full: 'images/sunms1-simple-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunms1-ecc-2-prev-0001.png',
  image_name_full: 'images/sunms1-ecc-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunms1-simple-3-prev-0001.png',
  image_name_full: 'images/sunms1-simple-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunms1-ecc-0-prev-0001.png',
  image_name_full: 'images/sunms1-ecc-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunms1-gc-0-prev-0001.png',
  image_name_full: 'images/sunms1-gc-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunms1-ecc-1-prev-0001.png',
  image_name_full: 'images/sunms1-ecc-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunms1-gc-2-prev-0001.png',
  image_name_full: 'images/sunms1-gc-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunms1-ecc-3-prev-0001.png',
  image_name_full: 'images/sunms1-ecc-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunms1-gc-1-prev-0001.png',
  image_name_full: 'images/sunms1-gc-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunms1-simple-2-prev-0001.png',
  image_name_full: 'images/sunms1-simple-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunms1-gc-3-prev-0001.png',
  image_name_full: 'images/sunms1-gc-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunms1-simple-1-prev-0001.png',
  image_name_full: 'images/sunms1-simple-1-prev-0001.png'
}

     ]
}
,

{
     carousels: [
{
  entry_type: 'IMAGE',
  image_name: 'images/desc-sunms2.png',
  image_name_full: null
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/video-sunms2-0.png',
  image_name_full: 'http://www.youtube.com/embed/JelflHQSamo'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/x3d-sunms2.png',
  image_name_full: 'models/sunms2.x3d'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunms2-simple-0-prev-0001.png',
  image_name_full: 'images/sunms2-simple-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunms2-simple-1-prev-0001.png',
  image_name_full: 'images/sunms2-simple-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunms2-simple-3-prev-0001.png',
  image_name_full: 'images/sunms2-simple-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunms2-simple-2-prev-0001.png',
  image_name_full: 'images/sunms2-simple-2-prev-0001.png'
}

     ]
}
,

{
     carousels: [
{
  entry_type: 'IMAGE',
  image_name: 'images/desc-sunos1.png',
  image_name_full: null
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/video-sunos1-0.png',
  image_name_full: 'http://www.youtube.com/embed/jAuJPadoYvs'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/x3d-sunos1.png',
  image_name_full: 'models/sunos1.x3d'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunos1-aeq-1-prev-0001.png',
  image_name_full: 'images/sunos1-aeq-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunos1-far-0-prev-0001.png',
  image_name_full: 'images/sunos1-far-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunos1-ecc-1-prev-0001.png',
  image_name_full: 'images/sunos1-ecc-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunos1-ecc-3-prev-0001.png',
  image_name_full: 'images/sunos1-ecc-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunos1-ecc-0-prev-0001.png',
  image_name_full: 'images/sunos1-ecc-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunos1-far-1-prev-0001.png',
  image_name_full: 'images/sunos1-far-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunos1-ecc-2-prev-0001.png',
  image_name_full: 'images/sunos1-ecc-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunos1-aeq-2-prev-0001.png',
  image_name_full: 'images/sunos1-aeq-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunos1-far-3-prev-0001.png',
  image_name_full: 'images/sunos1-far-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunos1-aeq-0-prev-0001.png',
  image_name_full: 'images/sunos1-aeq-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunos1-aeq-3-prev-0001.png',
  image_name_full: 'images/sunos1-aeq-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunos1-far-2-prev-0001.png',
  image_name_full: 'images/sunos1-far-2-prev-0001.png'
}

     ]
}
,

{
     carousels: [
{
  entry_type: 'IMAGE',
  image_name: 'images/desc-sunos2.png',
  image_name_full: null
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/video-sunos2-0.png',
  image_name_full: 'http://www.youtube.com/embed/cEVH0IhlJ4Y'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/x3d-sunos2.png',
  image_name_full: 'models/sunos2.x3d'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunos2-aqu-2-prev-0001.png',
  image_name_full: 'images/sunos2-aqu-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunos2-aqu-1-prev-0001.png',
  image_name_full: 'images/sunos2-aqu-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunos2-aqu-3-prev-0001.png',
  image_name_full: 'images/sunos2-aqu-3-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunos2-pol-2-prev-0001.png',
  image_name_full: 'images/sunos2-pol-2-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunos2-pol-1-prev-0001.png',
  image_name_full: 'images/sunos2-pol-1-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunos2-pol-0-prev-0001.png',
  image_name_full: 'images/sunos2-pol-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunos2-aqu-0-prev-0001.png',
  image_name_full: 'images/sunos2-aqu-0-prev-0001.png'
}
,
{
  entry_type: 'IMAGE',
  image_name: 'images/sunos2-pol-3-prev-0001.png',
  image_name_full: 'images/sunos2-pol-3-prev-0001.png'
}

     ]
}

                ]
             }
         },
         methods: {
           carousel_clicked(dats, event) {
               if (event.detail == 1 && dats.image_name_full !== null) {
                  console.log('carousel_clicked image_name: ' + dats.image_name_full)
                  window.open(dats.image_name_full, "_self")
               }
            },
         }
    })
    app.$mount('#app')
</script>
</body>
</html>
