body {
	font-family: 'BonvenoCFLight', sans-serif;
	font-size: 12px;
	background-color: rgb(255, 255, 255);
	color: rgb(10, 10, 10);
}

h2 {
	border-top-style: solid;
	border-top-color: rgb(10, 10, 10);
	border-top-width: 1px;
	margin-top: 50px;
}

code {
	padding: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	webkit-box-sizing: border-box;
	display: block;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	overflow-x: auto;
	background-color: rgb(240, 240, 240);
	width: 100%;
	border-style: solid;
	border-color: rgb(220, 220, 220);
	border-width: 1px;
	font-size: 12px;
	
}

#main { 
	margin-left: auto;
	margin-right: auto;
	width: 820px;
	padding: 10px;
	background-color: rgb(245, 245, 245);
}

.right {
	float: right;
}

.left {
	float: left;
}

#header {
	font-size: 70px;
	font-weight: bold;
	height: 120px;
	text-align: right;
	padding-right: 130px;
	padding-top: 80px;
	background-image: url('images/head03.png');
}

img {
	border-width: 0;
}

a:link, a:visited {
	text-decoration: none;
	color: rgb(10, 10, 10);
	font-weight: bold;
}

a:focus {
	color: rgb(10, 10, 10);
}

a:hover {
	color: rgb(10, 10, 10);
	font-weight: bold;
	font-style: italic;
}

a:active {
	color: rgb(10, 10, 10);
}