<html lang="en">
<head>
<title>OneLineImage</title>
<style>
body {
	font-family: sans-serif;
	font-size: medium;
	text-align: center;
	margin: 100px;
}
</style>
</head>
<body>
	<img alt="ONELINE" src="Oneline03a.png">
	<p>Oneline is an image creating program that generates images which
		are composed from a single line following a master image. This line
		starts at a random point and follows the dark parts of a master image.
		If the line gets long enough you may discover the original image in
		the line.</p>
	<p>
	<a href="http://oneline.{{ WEMPL_HOST }}/index"><img src="start.png"
			alt="start oneline application" /></a> <a href="details.html"><img
            src="details.png" alt="details" /></a>
	</p>
	<p>The image below is 'la colombe' from Picasso rendered with
		Oneline</p>
	<img src="Taube002.png" alt="coulomb picasso"/>
</body>
</html>
