<!DOCTYPE html>
<html lang="en">
<head>
<title>imagecube</title>
<link href="https://fonts.googleapis.com/css?family=Russo+One"
	rel="stylesheet">

<style>
body {
	background-color: #ff9933;
	font-family: 'Russo One', sans-serif;
	font-size: 200%;
	padding: 10px;
	text-align: center;
}

#button {
	width: 400px;
	height: 50px;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#button:hover {
	cursor: grab
}
</style>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>
</head>
<body>
	<h1>imagecube</h1>
	<p>make a cube out of your image</p>
	<p>
		<img src="res/eyck.png" alt="">
		<img src="res/eyck-cut.png" alt="">
		<img src="res/eyck-cube.png" alt="">
	</p>
	<p>see some of the imagecubes i created so far on <a href="https://flic.kr/s/aHskVeDKWN">flickr</a></p>
	<p>click the link below to create your own imagecube(s)</p>
	<p>
		<a href="http://imagecube.{{ WEMPL_HOST }}" id=button>imagecube webapp</a>
	</p>
</body>
</html>
