
<!DOCTYPE HTML>
<html lang="en">
    <head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>entelijan</title>
        <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" type="text/css" href="main.css" />
        <meta name="theme-color" content="#fff">    
    </head>
    <body>
    <div class="content">
        <p class="top">wolfgang wagner vienna austria</p>
        <p><img alt="image of me" src="ww.jpg"/></p>
        <p>wwagner4(at)gmail.com</p>
        <p>
            <a href="nepros">nepros</a>
            <a href="http://vsoc.sf.net">vsoc</a>
            <a href="http://robocup-atan.github.com/atan/">atan</a>
            <a href="http://vgrid.sf.net">vgrid</a>
            <a href="wodka">wodka</a>
            <a href="http://wodka.sf.net/gimage">gimage</a>
            <a href="bookbind">bookbind</a>
            <a href="http://code.google.com/p/cobean/">cobean</a>
            <a href="slout/index.html">slout</a>
            <a href="oneline/index.html">oneline</a>
            <a href="multiimage/index.html">multiimage</a>
            <a href="sumo-sim/index.html">sumo-sim</a>
            <a href="shuck/index.html">shuck</a>
            <a href="sgena/index.html">sgena</a>
            <a href="canrob/index.html">canrob</a>
            <a href="elm-random-walk">elm random walk</a>
            <a href="webaudio/index.html">webaudio</a>
            <a href="imagecube">imagecube</a>
            <a href="https://github.com/wwagner4/vsoc/blob/master1/vsoc-ga-2018/doc/articles/results.md">vsoc-2018</a>
            <a href="https://github.com/wwagner4/py-greenscreen#greenscreen">greenscreen</a>
	        <a href="http://mnist.{{ WEMPL_HOST }}">mnist</a>
            <a href="gaia/index.html">gaia</a>
            <a href="pi/index.html">pi</a>
 	        <a href="http://multilangdia.{{ WEMPL_HOST }}">windchill</a>
            <a href="http://exop.{{ WEMPL_HOST }}/react">exoplanets</a>
	        <a href="http://gutenberg.{{ WEMPL_HOST }}">gutenberg</a>
            <a href="https://github.com/wwagner4/wempl#wempl">wempl</a>
            <a href="sumosim-rl/reports">sumosim-rl</a>
         </p>
         <p>
            <a href="http://www.youtube.com/wwan23">videos</a>
            <a href="https://www.flickr.com/photos/148922320@N05/">photos</a>
            <a href="http://entelijan.wordpress.com">exploring sound design</a>
            <a href="schoengrabern/index.html">schoengrabern</a>
            <a href="processing/colorsun/index.html">colorsun</a>
            <a href="art/lessinggasse/index.html">lessinggasse</a>
            <a href="art/languagegames/index.html">languagegames</a>
            <a href="art/gnagflow/index.html">gnagflow</a>
            <a href="art/mondschaf/index.html">mondschaf</a>
            <a href="art/chaosmountain/index.html">chaosmountain</a>
            <a href="art/smoke/index.html">smoke</a>
            <a href="art/thevirtualisreal/index.html">the virtual ...</a>
            <a href="art/reed/index.html">reeds</a>
            <a href="art/doctus/index.html">doctus</a>
            <a href="art/saint/index.html">saint</a>
            <a href="art/doctus/examples.html#Morphing">morphing</a>
         </p>
        <p>
            <a href="family.html">family</a>
            <a href="art/ht2016/index.html">hochzeitstag 2016</a>
		</p>
    </div>
    </body>
</html>
