body {
	background: #101010;
	color: white;
	font-family: sans-serif;
	font-size: 15px;
	margin: 0px;
	overflow: hidden;
}
p {
	margin: 0px;
	padding: 5px;
}

#canvas {
	background: black;
	border-bottom-width: 0px;
}

.title {
	font-size: 30px;
}

a:VISITED {
	color: white;
}

a:LINK {
	color: white;
}